// https://nuxt.com/docs/api/configuration/nuxt-config
{{- if eq .CSS "tailwindcss"}}
import tailwindcss from "@tailwindcss/vite";
{{- end}}
export default defineNuxtConfig({
  compatibilityDate: '2025-07-15',
  devtools: { enabled: true },
  runtimeConfig: {
    {{- if eq .CMS "microcms"}}
    microCMS: {
      serviceDomain: process.env.MICROCMS_SERVICE_DOMAIN,
      apiKey: process.env.MICROCMS_API_KEY,
    },
    {{- end}}
  }
  {{- if eq .CSS "tailwindcss"}},
  css: ['./app/assets/styles/main.css'],
  vite: {
    plugins: [
      tailwindcss(),
    ],
  }
  {{- end}}
})
