// https://nuxt.com/docs/api/configuration/nuxt-config
{{- if eq .CSS "tailwindcss"}}
import tailwindcss from "@tailwindcss/vite";
{{- end}}
export default defineNuxtConfig({
  compatibilityDate: '2025-07-15',
  devtools: { enabled: true }
  {{- if eq .CSS "tailwindcss"}},
  css: ['./app/assets/styles/main.css'],
  vite: {
    plugins: [
      tailwindcss(),
    ],
  }
  {{- end}}
})
