{
  "$schema": "./node_modules/oxfmt/configuration_schema.json",
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all"
  {{- if eq .CSS "tailwindcss"}},
  "plugins": ["tailwindcss"],
  "overrides": [
    {
      "files": ["*.vue", "*.astro", "*.tsx", "*.jsx"],
      "rules": {
        "tailwindcss/sort-classes": "warn"
      }
    }
  ]
  {{- end}}
}
