{{- if eq .Base "nuxt"}}
{
  "$schema": "./node_modules/wrangler/config-schema.json",
  "name": "{{.ProjectName}}",
  "main": ".output/server/index.mjs",
  "compatibility_date": "{{.Date}}",
  "compatibility_flags": ["nodejs_compat"],
  "assets": {
    "directory": ".output/public"
  },
  "observability": {
    "enabled": true
  }
}
{{- else if .Base.IsAstro}}
{
  "$schema": "./node_modules/wrangler/config-schema.json",
  "name": "{{.ProjectName}}",
  "main": "@astrojs/cloudflare/entrypoints/server",
  "compatibility_date": "{{.Date}}",
  "compatibility_flags": ["nodejs_compat"],
  "assets": {
    "directory": "./dist",
    "binding": "ASSETS"
  },
  "observability": {
    "enabled": true
  }
}
{{- else}}
{
  "$schema": "./node_modules/wrangler/config-schema.json",
  "name": "{{.ProjectName}}",
  "compatibility_date": "{{.Date}}",
  "compatibility_flags": ["nodejs_compat"],
  "assets": {
    "directory": "./dist"
  },
  "observability": {
    "enabled": true
  }
}
{{- end}}
