import { Elysia } from "elysia";

const app = new Elysia()
  .get("/", () => ({ message: "Hello from {{ .ProjectName }}" }))
  .listen(Number(process.env.PORT ?? 3001));

console.log(`Server running on http://localhost:${app.server?.port}`);
