{
  "name": "{{.ProjectName}}",
  "type": "module",
  "version": "0.0.1",
  "engines": {
    "node": ">=22.12.0"
  },
  "scripts": {
    "dev": "astro dev --port 3000",
    "build": "astro build",
    "preview": "astro preview",
    "astro": "astro",
    "prepare": "husky",
    {{if eq .Fmt "prettier"}}
    "format": "prettier check --write"
    {{end}}
    {{if eq .Fmt "biome"}}
    "format": "biome check --write"
    {{end}}
  },
  "dependencies": {
    "astro": "^6.1.3"
    {{if eq .CSS "tailwindcss"}}
    ,"tailwindcss": "^4.2.2"
    ,"@tailwindcss/vite": "^4.2.2"
    {{end}}
  },
  "devDependencies": {
    "husky": "^9.1.7"
    {{if eq .Fmt "prettier"}}
    ,"prettier": "3.8.1"
      {{if eq .Base "astro"}}
      ,"prettier-plugin-astro": "0.14.1"
      {{end}}
    {{end}}
    {{if eq .Fmt "biome"}}
    ,"@biomejs/biome": "2.4.10"
    {{end}}
  }
}
