{
  "extends": "astro/tsconfigs/strict",
  "include": [".astro/types.d.ts", "**/*"],
  "exclude": ["dist"],
  "compilerOptions": {
    "baseUrl": ".",
    "paths": {
      "@/*": ["src/*"]
    }
    {{- if or (eq .Base "astro-react") (eq .CMS "keystatic") -}}
    , "jsx": "react-jsx",
    "jsxImportSource": "react"
    {{- end -}}
  }
}
