{{- if eq (printf "%s" .Database) "postgres" -}}
DATABASE_URL="postgres://user:password@localhost:5432/{{ .ProjectName }}"
{{- else if eq (printf "%s" .Database) "mysql" -}}
DATABASE_URL="mysql://user:password@localhost:3306/{{ .ProjectName }}"
{{- else -}}
DATABASE_URL="file:./sqlite.db"
{{- end }}
