import { defineConfig } from "drizzle-kit";
{{ if eq (printf "%s" .Database) "d1" -}}
export default defineConfig({
  schema: "./db/schema.ts",
  out: "./db/migrations",
  dialect: "sqlite",
  driver: "d1-http",
  dbCredentials: {
    accountId: process.env.CLOUDFLARE_ACCOUNT_ID!,
    databaseId: process.env.CLOUDFLARE_DATABASE_ID!,
    token: process.env.CLOUDFLARE_D1_TOKEN!,
  },
});
{{- else -}}
export default defineConfig({
  schema: "./db/schema.ts",
  out: "./db/migrations",
{{- if eq (printf "%s" .Database) "postgres" }}
  dialect: "postgresql",
{{- else if eq (printf "%s" .Database) "mysql" }}
  dialect: "mysql",
{{- else }}
  dialect: "sqlite",
{{- end }}
  dbCredentials: {
    url: process.env.DATABASE_URL!,
  },
});
{{- end }}
