generator client {
  provider = "prisma-client-js"
}

datasource db {
{{- if eq (printf "%s" .Database) "postgres" }}
  provider = "postgresql"
{{- else if eq (printf "%s" .Database) "mysql" }}
  provider = "mysql"
{{- else }}
  provider = "sqlite"
{{- end }}
  url      = env("DATABASE_URL")
}

model User {
  id   Int    @id @default(autoincrement())
  name String
}
