{
  "$schema": "https://biomejs.dev/schemas/2.5.0/schema.json",
  "files": {
    "includes": [
      "**",
      "!dist"
      {{- if .Base.IsAstro}}, "!.astro"{{- end}}
      {{- if .Base.IsNuxt}}, "!.nuxt", "!.output", "!.nitro"{{- end}}
      {{- if .Base.IsVite}}, "!dist-ssr"{{- end}}
    ]
  },
  "formatter": {
    "enabled": true,
    "indentStyle": "space",
    "indentWidth": 2,
    "lineWidth": 80
  },
  "linter": {
    "enabled": true,
    "rules": {
      "recommended": true
    }
  },
  {{- if or (.Base.IsAstro)  (.Base.IsNuxt)}}
  "overrides": [
    {
      "includes": ["**/*.svelte", "**/*.astro", "**/*.vue"],
      "linter": {
        "rules": {
          "style": {
            "useConst": "off",
            "useImportType": "off"
          },
          "correctness": {
            "noUnusedVariables": "off",
            "noUnusedImports": "off"
          }
        }
      }
    }
  ],
  {{- end}}
  "html": {
    "formatter": {
      "enabled": true
    }
  },
  "css": {
    "formatter": {
      "enabled": true
    },
    "linter": {
      "enabled": true
    }
  },
  "javascript": {
    {{- if .Base.IsAstro}}
    "experimentalEmbeddedSnippetsEnabled": true,
    {{- end}}
    "formatter": {
      "semicolons": "always",
      "quoteStyle": "double",
      "trailingCommas": "all"
    }
  }
}
