{
  "$schema": "https://biomejs.dev/schemas/2.4.10/schema.json",
  "formatter": {
    "enabled": true,
    "indentStyle": "space",
    "indentWidth": 2,
    "lineWidth": 80
  },
  "linter": {
    "enabled": true,
    "rules": {
      "recommended": true
    }
  },
  {{- if eq .Base "astro"}}
  "overrides": [
    {
      "includes": ["**/*.svelte", "**/*.astro", "**/*.vue"],
      "linter": {
        "rules": {
          "style": {
            "useConst": "off",
            "useImportType": "off"
          },
          "correctness": {
            "noUnusedVariables": "off",
            "noUnusedImports": "off"
          }
        }
      }
    }
  ],
  {{- end}}
  "html": {
    "formatter": {
      "enabled": true
    }
  },
  "css": {
    "formatter": {
      "enabled": true
    },
    "linter": {
      "enabled": true
    }
  },
  "javascript": {
    {{- if eq .Base "astro"}}
    "experimentalEmbeddedSnippetsEnabled": true,
    {{- end}}
    "formatter": {
      "semicolons": "always",
      "quoteStyle": "double",
      "trailingCommas": "all"
    }
  }
}
