[package]
name = "{{ .CrateName }}"
version = "0.1.0"
description = "{{ .ProjectName }} desktop app"
edition = "2021"

[lib]
# `_lib` suffix avoids the lib/bin name clash on Windows (cargo#8519)
name = "app_lib"
crate-type = ["staticlib", "cdylib", "rlib"]

[build-dependencies]
tauri-build = { version = "2", features = [] }

[dependencies]
tauri = { version = "2", features = [] }

[profile.release]
codegen-units = 1
lto = true
opt-level = 3
panic = "abort"
strip = true
