import { defineConfig } from 'vite'
{{- if eq .CSS "tailwindcss"}}
import tailwindcss from '@tailwindcss/vite'
{{- end}}

export default defineConfig({
{{- if eq .CSS "tailwindcss"}}
  plugins: [tailwindcss()],
{{- end}}
})
