strictDepBuilds: true
minimumReleaseAge: 1440
trustPolicy: no-downgrade
trustPolicyExclude:
  - chokidar
overrides:
  semver: "^7.7.1"
allowBuilds:
  {{- if .Base.IsNuxt}}
    "@parcel/watcher": true
  {{- end}}
  esbuild: true
  sharp: true
  {{- if eq .Deployment "cloudflare"}}
    workerd: true
  {{- end}}